{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/LoginSignup.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>LogIn</title>
</head>
<body>
    <div class="log-in">
        <img class='logo' src="{% static 'imgs/Main Page Logo1.png' %}" alt="logo">
        <div class="content">
            <form method="POST">
                {% csrf_token %}
                {{ form.username|add_class:'special-input' }}
                {{ form.password|add_class:'special-input' }}
                <div class="remember-me">
                    <input class='check' type="checkbox" checked="checked" name="remember">
                    <label>Remember Password</label>
                    <button type="submit" class="log-in-btn">LogIn</button>
                </div>
            </form>
            
            <div class = "border-top pt-3">
                <small class="text-muted">
                    Need an account ?
                    <a class="ml-2" href="{% url 'signUp' %}">
                        Sign up
                    </a>
                </small>
            </div>
        </div>
    </div>    
</body>
</html>