*{
    font-family: 'Baskervville';
}

h1{
    margin-left: 6%;
    font-weight: bold;
    font-size: 250%;
}

.aboutUsContainer{
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    font-size: 120%;
}

.aboutUsContainer > .explore{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.aboutUsContainer > .explore  p{
    text-align: left;
    width: 75%;
    margin-left: 19%;
}

.aboutUsContainer > .explore > #vision{
    float: left;
    width: 50%
}

.aboutUsContainer > .explore > #mission{
    float: right;
    width: 50%;
}

.aboutUsContainer > .partners {
    display: block;
    text-align: center;
    width: 100%;
}

.aboutUsContainer > .partners > p, .aboutUsContainer>.partners>h2{
    text-align: left;
}

.aboutUsContainer > .partners > .partnersLogos{
    display: inline;
    text-align: center;
}

.aboutUsContainer > .partners > .partnersLogos > img{
    margin-right: 5%;
    width: 300px;
}

.aboutUsContainer  .solutions{
    width: 100%;
}

.aboutUsContainer  .solutions > img{
    width: 50%;
    margin-left: 30%;
    margin-top: 1%;
}

@media (max-width: 600px) {
    
    h1{
        margin-left: 6%;
        font-weight: bold;
        font-size: 200%;
    }
    
    .aboutUsContainer{
        margin-left: 5%;
        margin-right: 5%;
        display: block;
        font-size: 120%;
    }
    
    .aboutUsContainer > .explore{
        display: block;
    }

    .aboutUsContainer > .explore > #vision{
        width: 100%
    }
    
    .aboutUsContainer > .explore > #mission{
        width: 100%;
    }
    
    .aboutUsContainer > .explore  p{
        text-align:center;
        width: 81%;
        margin:auto;
    }
    
    
    .aboutUsContainer > .partners {
        display: block;
        text-align: center;
        width: 100%;
    }
    
    .aboutUsContainer > .partners > p, .aboutUsContainer>.partners>h2{
        text-align: left;
    }
    
    .aboutUsContainer > .partners > .partnersLogos{
        display: block;
        text-align: center;
    }
    
    .aboutUsContainer > .partners > .partnersLogos > img{
        margin-top: 5%;
        width: 200px;

    }
    
    .aboutUsContainer  .solutions > img{
        width: 300px;
        margin-left: 20px;
    }
}