@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");



:root {
    /* the variables */
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
    --success-color:#22bb33;
    --contactColor: #1c1c3d;
    --navbar-height:165px;
    --their-orange:#dd5717;
  }
* {
    box-sizing: border-box;
}

.nav-header:hover {
    cursor: pointer;
}

body {  
    margin: 0px;
    background-color: #FFFFFF;
    font-family: 'segoe ui';
    margin-top: var(--navbar-height);
    height: 100%;
}

/* =============== Navbar =================== */
.nav {
    font-family: "Baskervville";
    /* height: 165px; */
    height: var(--navbar-height);
    z-index: 12000;
    top: 0;
    width: 100%;
    background-image: linear-gradient(to left,
            #1d3159 0%,
            11.502347141504288%,
            #3f476b 23.004694283008575%,
            27.288732677698135%,
            #4b5173 31.572771072387695%,
            32.45305269956589%,
            #4e5475 33.33333432674408%,
            36.73709034919739%,
            #5b5e7e 40.140846371650696%,
            47.30047136545181%,
            #767591 54.46009635925293%,
            60.856810212135315%,
            #9594aa 67.2535240650177%,
            68.25117468833923%,
            #9a98ad 69.24882531166077%,
            70.83333432674408%,
            #a09eb3 72.41784334182739%,
            75%,
            #b0aebf 77.58215665817261%,
            79.57746386528015%,
            #b9b7c6 81.5727710723877%,
            83.45070481300354%,
            #bfbecb 85.32863855361938%,
            85.79812347888947%,
            #c5c4d0 86.26760840415955%,
            87.67605721950531%,
            #cecdd6 89.08450603485107%,
            94.54225301742554%,
            #f3f2f5 100%);
    position: fixed;
}

.nav * {
    font-family: "Baskervville" !important;
}

.nav>.nav-header {
    display: inline;
    float: left;
}

.nav>.nav-header>.nav-title {
    display: block;
    float :left;
    /* margin-top: 50px; */
    margin-top: 10px;
    margin-left: 45px;
    max-width: 350px;
}


@media (max-width:1100px) {
    .nav>.nav-header>.nav-title {
        max-width: 240px;
    } 
}
@media (max-width:951px) {
    .nav>.nav-header>.nav-title {
        max-width: 200px;
    } 
}


.nav>.nav-header>.nav-title>img {
    height: 80%;
    width: 100%;
}

.nav>.nav-btn {
    display: none;
}

/* .nav > .nav-links {
    display: inline;
    font-size: 150%;
    margin-top: 130px;
    position: fixed;
    right: 0%;
    margin-right: 8% ; 
} */
.nav>.nav-links {
    display: block;
    font-size: 130%;
    margin-top: 30px;
    float: right;
    margin-right: 50px;
}

.nav>.nav-links>a {
    color: #ffffff;
    text-decoration: none;
    height: 25%;
    /*font-weight:bold;*/
    padding-right: 8px;
}

.nav>.nav-links>#shopping-cart {
    display: inline-block;
    /* size: 30px; */
    width: 30px;
    height: auto;
    /* margin-top: 37px; */
    /* padding-top: 4px; */
    margin-bottom: -7px;
    cursor: pointer;
}

.nav .sign-links {
    display: inline;
    float: right;
    font-size: 150%;
    margin-top: 3%;
    margin-right: 4%;
    margin-left:20%;
}

.nav .sign-links>a {
    color: #ffffff;
    padding-right: 2px;
    text-decoration: none;
    /*font-weight:bold;*/
}

.nav>.nav-links>a:hover,
.nav>.sign-links>a:hover {
    color: #dc5718;
}

.nav>#nav-check {
    display: none;
}

/* ======================= footer ==================== */

footer {
    display: flex;
    flex-direction: row;
    min-height: 300px;
    width: 100%;
    background-color: #213259;
    overflow: hidden;
    font-family: "Baskervville";
    bottom: 0;
}

.leftPart {
    width: 50%;
    left: 0;
    display: flex;
    flex-direction: column;
    float: left;
    color: #ffffff;
    margin-left: 100px;
    margin-top: 20px;
}

.leftPart>#upperPart {
    width: 100%;
    left: 0;
    display: flex;
    float: left;
    color: #ffffff;
    padding-right: 20px;
    margin-right: 20px;
}

footer>.leftPart>#upperPart h2 {
    font-weight: bold;
    font-size: 1.3em;
    color: #ffffff;
}

.infoA, .infoB {
    flex-direction: column;
    margin-right: 50px;
    text-align: center;
}

.leftPart ul {
    margin-top: 20px;
    padding-left: 0;
}

.leftPart .infoA li, .leftPart .infoB li {
    list-style-type: none;
    margin-top: 10px;
}

.leftPart .infoA li a, .leftPart .infoB li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}

.rightPart {
    right: 0;
    width: 50%;
    text-align: center;
}

#lowerPart {
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
}

#labelSignup {
    margin-right: 20px;
}

#lowerPart>input {
    border-radius: 2px;
    margin-top: 5px;
    width: 40%;
    height: 30px;
    background-color: #ccd7ff;
}

#lowerPart>input:focus {
    background-color: #ffffff;
}

.rightPart>p {
    font-size: 25px;
    width: auto;
    color: #ffffff;
    padding-top: 15px;
    padding-left: 1%;
}

footer i {
    margin-right: 0.5em;
    color: #ffffff;
}

footer img {
    height: 8em;
    width: 18em;
    margin-right: 30px;
    float: right;
    margin-top: 5px;
}

/*****Mobile View*****/

@media (max-width: 600px) {

    /***** NavBar******/
    .nav {
        height: 130px;
    }
    :root{
        --navbar-height: 130px;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav>.nav-header>.nav-title {
        max-width: 200px;
    } 
    .nav .sign-links {
        display: inline;
        float: right;
        margin-top: -4px;
    }

    .nav>.nav-header {
        width:100%;
    }
    .nav .sign-links {
        margin-right: 20px;
        margin-left:20px;
        padding-top: -20px;
    }
    
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: #213259;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 3px solid #ffffff;
    }

    
    .nav>.sign-links>a,
    .nav>.sign-links>span {
        font-size: 17px;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #213259;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
        height: fit-content;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    /***** Footer ****/

    footer {
        display:block;
        min-height: 300px;
        width: 100%;
        background-color: #213259;
        overflow: hidden;
        font-family: "Baskervville";
        bottom: 0;
    }

    .leftPart {
        width: 100%;;
        color: #ffffff;
        margin-top: 5px;
        margin-left: 8px;
    }

    .leftPart>#upperPart {
        width: 100%;
        float: right;
        color: #ffffff;
        display: block;
    }

    footer>.leftPart>#upperPart h2 {
        font-weight: bold;
        font-size: 1em;
        color: #ffffff;
    }

    .infoA {
        float: left;
        width: 50%;
        text-align: center;
        display:block;
        margin-right: 0px;
    }

    .infoB {
        width: 50%;
        float: right;    
        text-align: center;
        display:block;
        margin-right: 0px;
    }

    .leftPart ul {
        margin-top: 20px;
        padding-left: 0;
    }

    .leftPart .infoA li, .leftPart .infoB li {
        list-style-type: none;
        margin-top: 10px;
    }

    .leftPart .info li a, .leftPart .infoB li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 15px;
    }

    #lowerPart{
        margin-top: 2px;
    }

    .rightPart {
        bottom: 0;
        width: 100%;
        text-align: center;
    }


    .rightPart{
        display: inline-block;
    }

    .rightPart>p {
        font-size: 10px;
        width: 50%;
        float: left;
    }

    footer i {
        margin-right: 2px;
        color: #ffffff;
    }

    footer img {
        height: 20%;
        width: 40%;
        float: right;
        margin-top: 20px;
        margin-right: 2px;
    }
}