{% extends 'base.html' %}
{% load static %}
{% block headscripts %} 
<link rel="stylesheet" href="{% static 'css/info.css' %}">
{% endblock%}
{% block jsScripts %} 
{% endblock %}

{% block title %} PrimeEV charger {% endblock %}
{% block content %} 
<div class='info'>
    <h3 class="info">Personal Info</h3>
    <div class="personal-info">
        <input placeholder="First name" type="text"></input>
        <input placeholder="Last name" type="text"></input>
        <input placeholder="Email" type="email"></input>
        <input placeholder="Phone number" type="tel"></input>
        <div class = "gender">  
            <input type = "radio" name = "Gender">
            <label>Male</label>
            <input type = "radio" name = "Gender">
            <label>Female</label>
        </div>
        <input placeholder="Address" type="text"></input>
    </div>
    <h3 class="details-header">Car details</h3>
    <div class="details">
        <select placeholder="Car brand">
            <option disabled selected>Select Car Brand</option>
            <option>BMW</option>
            <option>Mercedes-Benz</option>
            <option>Porsche</option>
            <option>Tesla</option>
            <option>Volvo</option>
            <option>Audi i</option>
            <option>Land Rover</option>
            <option>Range Rover</option>
            <option>Volkswagen</option>
            <option>Ford</option>
            <option>Jaguar</option>
            <option>Fiat</option>
            <option>Kia</option>
            <option>Opel</option> 
            <option>Nissan</option>
            <option>Toyota</option>
            <option>BYD</option>
            <option>Hyundai</option>
            <option>Jac</option>
            <option>Renault</option>
            <option>Ssang young</option>
            <option>Mitsubishi</option>
            <option>Chevrolet</option>
            <option>Jeep</option>
            <option>Seat</option>
            <option>Other</option>
        </select>
        <input placeholder="Car type" type="text"></input>
        <select placeholder="Car brand">
            <option disabled selected>Select Battery Range</option>
            <option>50</option>
            <option>100</option>
            <option>150</option>
            <option>200</option>
            <option>250</option>
            <option>300</option>
            <option>350</option>
            <option>400</option>
        </select>
        <label id = "cpyLicense">Copy of the car license</label>
        <input placeholder="Car license" type="file" accept="image/*"></input>
    </div>
    <button id = "send">Send</button>
</div>

{% endblock %}