{% extends 'base.html' %}
{% load static %}
{% block headscripts %} 
<link rel="stylesheet" href="{% static 'css/info.css' %}">
{% endblock%}
{% block jsScripts %} 
{% endblock %}

{% block title %} PrimeEV charger {% endblock %}
{% block content %} 
<div class='info'>
    {% if errorMsg %}
        <p class="errorMessage" style="color: red;">{{ errorMsg }}</p>
    {% endif %}
    <form method="POST" action="{% url 'registerForm' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% if errorMsg %}
        <p class="errorMessage" style="color: red;">{{ errorMsg }}</p>
        {% endif %}
    <h3 class="info">Personal Info</h3>
    <div class="personal-info">
        
        <input name = "fname" placeholder="First name" type="text"></input>
        <input name = "lname" placeholder="Last name" type="text"></input>
        <input name = "email" placeholder="Email" type="email"></input>
        <input name = "nb" placeholder="Phone number" type="tel"></input>
        <div name = 'gender' class = "gender">  
            <input value = 'True' type = "radio" name = "Gender">
            <label>Male</label>
            <input value = 'False' type = "radio" name = "Gender">
            <label>Female</label>
        </div>
        <input placeholder="Address" type="text"></input>
    </div>
    <h3 class="details-header">Car details</h3>
    <div class="details">
        <select name = 'brand' placeholder="Car brand">
            <option disabled selected>Select Car Brand</option>
            <option value = "BMW">BMW</option>
            <option value = "Mercedes-Benz">Mercedes-Benz</option>
            <option value = "Porsche">Porsche</option>
            <option value = "Tesla">Tesla</option>
            <option value = "Volvo">Volvo</option>
            <option value = "Audi">Audi</option>
            <option value = "Land Rover">Land Rover</option>
            <option value = "Range Rover">Range Rover</option>
            <option value = "Volkswagen">Volkswagen</option>
            <option value = "Ford">Ford</option>
            <option value = "Jaguar">Jaguar</option>
            <option value = "Fiat">Fiat</option>
            <option value = "Kia">Kia</option>
            <option value = "Opel">Opel</option> 
            <option value = "Nissan">Nissan</option>
            <option value = "Toyota">Toyota</option>
            <option value = "BYD">BYD</option>
            <option value = "Hyundai">Hyundai</option>
            <option value = "Jac">Jac</option>
            <option value = "Renault">Renault</option>
            <option value = "Ssang young">Ssang young</option>
            <option value = "Mitsubishi">Mitsubishi</option>
            <option value = "Chevrolet">Chevrolet</option>
            <option value = "Jeep">Jeep</option>
            <option value = "Seat">Seat</option>
            <option value = "Other">Other</option>
        </select>
        <input name = 'carType' placeholder="Car type" type="text"></input>
        <select name = 'bRange' placeholder="Car brand">
            <option disabled selected>Select Battery Range</option>
            <option>50</option>
            <option>100</option>
            <option>150</option>
            <option>200</option>
            <option>250</option>
            <option>300</option>
            <option>350</option>
            <option>400</option>
        </select>
        <label id = "cpyLicense">Copy of the car license</label>
        <input name = 'img' placeholder="Car license" type="file" accept="image/*"></input>
    </div>
    <input id = "send" value = "Register" type = "submit" >
</form>
</div>

{% endblock %}