
{% extends 'base.html' %}
{% load static %}
{% block headscripts %} 
<link rel="stylesheet" href="{% static 'css/info.css' %}">
{% endblock%}
{% block jsScripts %} 
{% endblock %}

{% block title %} PrimeEV charger {% endblock %}
{% block content %} 
<div class='info'>
    <h3 class="info">Personal Info</h3>
    <div class="personal-info">
    <input placeholder="First name" type="text"></input>
    <input placeholder="Last name" type="text"></input>
    <input placeholder="Email" type="email"></input>
    <input placeholder="Phone number" type="tel"></input>
    <input placeholder="Address" type="text"></input>
    </div>
    <h3 class="details-header">Car details</h3>
    <div class="details">
        <input placeholder="Car brand" type="text"></input>
        <input placeholder="Car type" type="text"></input>
        <label>50 150 250 300 350 400 450 500 550 600</label>
        <input placeholder="Battery range" type="range" class="range"></input>
        <input placeholder="Car license" type="image"></input>
    </div>
</div>

{% endblock %}